---
name: "connector-ci"

on:
  workflow_dispatch:

  # push:
  #   branches:
  #     - main
  #   paths:
  #     - "**.tfvars"
  #     - "custom-appsets/**"

permissions:
  contents: read
  id-token: write
  issues: write

jobs:
  connector-ci:
    uses: "orbitcluster/oc-terraform-hub-spoke-connector/.github/workflows/main.yml@v1.1.2"
    with:
      tfvar_file_path: "connector.tfvars"
      bucket_name: "oc-backend-hub"
      approvers: "dilipsamanta, mav-sk"
      master_s3_directory: "oc-eks-hub"
      module_ref: "v1.1.2"
    secrets: inherit
